<header>
  <div class="container">
    <!-- MAIN WEBSITE NAVIGATION -->
    <nav>
      <ul>
        <li>
          <label class="app-button link-button active" for="dictionary">
            Dictionary
          </label>
        </li>
        <li>
          <label class="app-button link-button" for="training">
            Training
          </label>
        </li>
      </ul>
    </nav>
    <!-- /MAIN WEBSITE NAVIGATION -->
    <!-- LANGUAGE SWITCHER -->
    <ul class="lang-switcher-list">
      <li>
        <input
          class="lang-radio-switcher"
          data-lang="en"
          class="lang-switcher"
          type="radio"
          name="lang"
          id="en-lang"
        />
        <label class="lang-switcher app-button" for="en-lang">En</label>
      </li>
      <li>
        <input
          class="lang-radio-switcher"
          data-lang="pl"
          class="lang-switcher"
          type="radio"
          name="lang"
          id="pl-lang"
        />
        <label class="lang-switcher app-button" for="pl-lang">Pl</label>
      </li>
    </ul>
    <!-- LANGUAGE SWITCHER -->
  </div>
</header>