<div class="modal" id="add-word">
  <div class="container">
    <button class="close-button" data-role="close">&times;</button>
    <div class="content">
      <form class="form-add-new-word container" action="">
        <div class="form-dec-div">
          <label
            class="form-label-box"
            for="expression-input"
            aria-label="expression-input"
          >
            <input
              class="form-label-input app-input"
              type="text"
              id="expression-input"
              name="expressionInput"
            />
            <span class="form-label-title">Expression</span>
          </label>
          <button class="app-button" data-role="translate" type="button">
            Translate
          </button>
        </div>
        <div class="form-dec-div">
          <label
            class="form-label-box"
            for="translation-input"
            aria-label="translation-input"
            style="display: flex; gap: 10px"
          >
            <input
              class="form-label-input app-input"
              type="text"
              id="translation-input"
              name="translationInput"
            />
            <span class="form-label-title">Translation</span>
          </label>
          <button
            class="app-button"
            data-role="fillTranslationAI"
            type="button"
            style="flex-shrink: 0"
          >
            Fill by AI
          </button>
        </div>
        <div class="form-dec-div">
          <label
            class="form-label-box"
            for="type-input"
            aria-label="expression-input"
            style="display: flex; gap: 10px"
          >
              <input
                class="form-label-input app-input"
                type="text"
                id="type-input"
                name="typeInput"
              />
              <span class="form-label-title">Type</span>
          </label>
          <select data-type="select-type" name="" id=""></select>
          <button
            class="app-button"
            data-role="fillTypeAI"
            type="button"
            style="flex-shrink: 0"
          >
            Fill by AI
          </button>
        </div>
        <div class="form-dec-div">
          <label
            class="form-label-box"
            for="type-expression-input"
            aria-label="expression-input"
            style="display: flex; gap: 10px"
          >
              <input
                class="form-label-input app-input"
                type="text"
                id="type-expression-input"
                name="typeExpressionInput"
              />
              <span class="form-label-title">Type expression</span>
          </label>
          <select data-type="select-type-expression" id=""></select>
          <button
            class="app-button"
            data-role="fillTypeExpressionAI"
            type="button"
            style="flex-shrink: 0"
          >
            Fill by AI
          </button>
        </div>

        <div class="form-dec-div">
          <label
            class="form-label-box"
            for="description-input"
            aria-label="description-input"
            style="display: flex; gap: 10px"
          >
            <textarea
              class="form-label-input app-input"
              type="text"
              id="description-input"
              name="descriptionInput"
            ></textarea>
            <span class="form-label-title">Description</span>
          </label>
          <button
            class="app-button"
            data-role="fillDescriptionAI"
            type="button"
            style="flex-shrink: 0"
          >
            Fill by AI
          </button>
        </div>
        <label class="" for="favorite-checkox" aria-label="favorite-checkbox">
          <span class="form-label-title">Is your Favorite</span>
          <input type="checkbox" id="favorite-checkbox" name="favoriteInput" />
        </label>
        <button class="app-button green full-width" data-role="close">
          Add
        </button>
      </form>
    </div>
  </div>
</div>
