<div class="modal" id="add-word">
  <div class="container">
    <button class="close-button" data-role="close">&times;</button>
    <div class="content">
      <form class="form-add-new-word container" action="">
        <label class="form-label-box" for="expression-input" aria-label="expression-input">
          <input class="form-label-input app-input" type="text" id="expression-input" name="expressionInput" />
          <span class="form-label-title">Expression</span>
        </label>
        <label class="form-label-box" for="translation-input" aria-label="translation-input">
          <input class="form-label-input app-input" type="text" id="translation-input" name="translationInput" />
          <span class="form-label-title">Translation</span>
        </label>
        <label class="form-label-box" for="type-input" aria-label="expression-input" style="display: flex;">
          <input class="form-label-input app-input" type="text" id="type-input" name="typeInput"/>
          <span class="form-label-title">Type</span>
          <select data-type="select-type" name="" id=""></select>
        </label>
        <label class="form-label-box" for="type-expression-input" aria-label="expression-input" style="display: flex;">
          <input class="form-label-input app-input" type="text" id="type-expression-input" name="typeExpressionInput" />
          <span class="form-label-title">Type expression</span>
          <select data-type="select-type-expression" name="" id=""></select>
        </label>
        <label class="form-label-box" for="description-input" aria-label="description-input">
          <input class="form-label-input app-input" type="text" id="description-input" name="descriptionInput"/>
          <span class="form-label-title">Description</span>
        </label>
        <label class="" for="favorite-checkox" aria-label="favorite-checkbox">
          <span class="form-label-title">Is your Favorite</span>
          <input type="checkbox" id="favorite-checkbox" name="favoriteInput"/>
        </label>
        <button class="app-button green full-width" data-role="close">Add</button>
      </form>
    </div>
  </div>
</div>