<div class="modal" id="delete-all-words-warning">
  <div class="container">
    <button class="close-button" data-role="close">&times;</button>
    <div class="content">
      <p style="text-align: center; margin-bottom: 20px">
        Do you really want to delete all words from THIS dictionary?
      </p>
      <p style="text-align: center; margin-bottom: 50px">
        You won't be able to restore them
      </p>
      <button class="delete-all-words-button app-button red full-width">
        Delete All
      </button>
    </div>
  </div>
</div>
