<div class="modal" id="edit-word">
  <div class="container">
    <button class="close-button" data-role="close">&times;</button>
    <div class="content">
      <div class="editing-word-modal-list app-list flex-container">
        <input class="edit-word app-input" type="text"/>
        <input class="edit-type app-input"></input>
        <input class="edit-type-expression app-input"></input>
      </div>
      <hr class="line" />
      <div class="info sub-container">
        <input class="edit-translation app-input" />
        <input class="edit-description app-input" />
      </div>
      <div class="buttons">
        <button class="cancel-editing-word-button app-button full-width" data-role="close" data-modal-id="word-extra-info">
          Cancel Editing
        </button>
        <button class="apply-editing-word-button app-button full-width" data-role="close" data-modal-id="word-extra-info">
          Apply Edit
        </button>
      </div>
    </div>
  </div>
</div>