<div class="modal" id="delete-word-warning">
  <div class="container">
    <button class="close-button" data-role="close">&times;</button>
    <div class="content">
      <p style="text-align: center; margin-bottom: 20px">
        Do you really want to delete the word from THIS dictionary?
      </p>
      <p style="text-align: center; margin-bottom: 50px">
        You won't be able to restore them
      </p>
      <div class="buttons">
        <button
          class="delete-all-words-button app-button full-width"
          data-modal-id="word-extra-info"
          data-role="close"
        >
          Cancel
        </button>
        <button class="delete-word app-button red full-width" data-role="close">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
