<div class="modal" id="word-extra-info">
  <div class="container">
    <button class="close-button" data-role="close">&times;</button>
    <div class="content">
      <p class="title">
        <span class="word"></span>
        <span class="extra-info"
          ><span class="type"></span> <sup class="word-id"></sup
        ></span>
      </p>
      <hr class="line" />
      <div class="info sub-container">
        <p class="translation"></p>
        <p class="description"></p>
      </div>
      <div class="ai-generated-text"></div>
      <div class="buttons">
        <button class="ai-text-generation-button app-button full-width">
          Give me examples
        </button>
        <button class="add-word-favorite app-button full-width">
          Add to Favorite
        </button>
        <button class="app-button full-width" data-modal-id="delete-word-warning" data-role="close">
          Delete Word
        </button>
        <button class="open-editing-dictionary-word-modal-button app-button full-width">
          Edit Word
        </button>
      </div>
    </div>
  </div>
</div>