@import "https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap";
html {
  -webkit-text-size-adjust: 100%;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  position: relative;
}

*, :after, :before {
  box-sizing: border-box;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, br, button, canvas, caption, center, cite, code, col, colgroup, data, datalist, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, head, header, hgroup, hr, html, i, iframe, img, input, ins, kbd, label, legend, li, link, main, map, mark, menu, meta, meter, nav, noscript, object, ol, optgroup, option, output, p, param, picture, pre, progress, q, rb, rp, rt, rtc, ruby, s, samp, script, section, select, small, source, span, strong, style, svg, sub, summary, sup, table, tbody, td, template, textarea, tfoot, th, thead, time, title, tr, track, tt, u, ul, var, video, wbr {
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  border: 0;
  margin: 0;
  padding: 0;
}

:focus {
  outline: 0;
}

article, aside, details, embed, figcaption, figure, footer, header, hgroup, main, menu, nav, object, section {
  display: block;
}

canvas, iframe {
  max-width: 100%;
  height: auto;
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

input:required, input {
  box-shadow: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 30px #fff;
}

input:-webkit-autofill:hover {
  -webkit-box-shadow: inset 0 0 0 30px #fff;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: inset 0 0 0 30px #fff;
}

input:-webkit-autofill:active {
  -webkit-box-shadow: inset 0 0 0 30px #fff;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"]::-webkit-search-results-button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

input:focus {
  outline: none;
}

video {
  background: #000;
}

audio:not([controls]) {
  height: 0;
  display: none;
}

[hidden] {
  display: none;
}

a:active, a:hover {
  outline: none;
}

audio, img, picture, svg, video {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  display: inline-block;
}

button, input {
  line-height: normal;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  background: none;
  border: 0;
}

button[disabled], html input[disabled] {
  cursor: default;
}

[disabled], [disabled="true"], [aria-disabled="true"] {
  pointer-events: none;
}

input[type="checkbox"], input[type="radio"] {
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button {
  background: none;
  border: 0;
}

textarea {
  vertical-align: top;
  resize: vertical;
  overflow: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  text-indent: 0;
}

hr {
  box-sizing: content-box;
  page-break-after: always;
  background: #000;
  border: 0;
  width: 100%;
  height: 1px;
  margin: 0;
  padding: 0;
  line-height: 0;
  overflow: visible;
}

pre {
  font-family: monospace;
  font-size: 100%;
}

a {
  background-color: #0000;
}

abbr[title] {
  border-bottom: none;
  text-decoration: none;
}

code, kbd, pre, samp {
  font-family: monospace;
}

small {
  font-size: 75%;
}

sub, sup {
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sub {
  bottom: -5px;
}

sup {
  top: -5px;
}

button, input, optgroup, select, textarea {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner {
  border-style: none;
  outline: 0;
  padding: 0;
}

[type="button"]::-moz-focus-inner {
  border-style: none;
  outline: 0;
  padding: 0;
}

[type="reset"]::-moz-focus-inner {
  border-style: none;
  outline: 0;
  padding: 0;
}

[type="submit"]::-moz-focus-inner {
  border-style: none;
  outline: 0;
  padding: 0;
}

legend {
  color: inherit;
  white-space: normal;
  border: 0;
  width: 100%;
  max-width: 100%;
  display: block;
}

fieldset {
  min-width: 0;
}

body:not(:-moz-handler-blocked) fieldset {
  display: block;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button {
  height: auto;
}

[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

template {
  display: none;
}

html {
  --color-1: #171822;
  --color-2: #fafbfb;
  --color-3: #1c1d29;
  --color-4: #101118;
  --color-5: #c0c2d2;
  --color-6: #1c204d;
  --color-7: #464646;
  --g-b-r: 5px;
  --g-t: .3s ease;
}

body {
  background-color: var(--color-1);
  color: var(--color-2);
  font-family: Fira Sans, sans-serif;
  font-size: 10px;
  line-height: 1;
}

@media screen and (width >= 400px) {
  body {
    font-size: 14px;
  }
}

@media screen and (width >= 600px) {
  body {
    font-size: 14px;
  }
}

@media screen and (width >= 1000px) {
  body {
    font-size: 16px;
  }
}

button, a, hr, span {
  color: currentColor;
  font-size: inherit;
}

section .title {
  margin-top: 3.125em;
  margin-bottom: .625em;
  font-size: 1.5em;
  font-weight: bold;
  position: relative;
}

section .title:after {
  content: "";
  background-color: #ffffff4d;
  width: 100%;
  height: .125em;
  position: absolute;
  bottom: -.3125em;
  left: 0;
}

section .title.no-top {
  margin-top: 0;
}

.container {
  flex-direction: column;
  gap: 1.25em;
  width: 100%;
  max-width: 62.5em;
  margin: 0 auto;
  padding: 1.25em;
  display: flex;
}

.sub-container {
  flex-direction: column;
  gap: 1.25em;
  display: flex;
}

.app-input {
  border-radius: var(--g-b-r);
  color: #acb1bb;
  background-color: #12131a;
  border: none;
  width: 100%;
  padding: 1em;
  font-size: 1.2em;
  box-shadow: 0 2px 4px #0000001a;
}

.app-input::placeholder {
  color: #acb1bb;
}

.app-list {
  flex-direction: column;
  gap: .625em;
  display: flex;
}

.ai-list {
  margin-left: 1.125em;
  list-style-type: decimal;
}

.app-button {
  background-color: var(--color-3);
  border-radius: var(--g-b-r);
  width: 100%;
  transition: background-color var(--g-t);
  color: var(--color-5);
  padding: .9375em;
}

.app-button:hover {
  background-color: var(--color-4);
}

.app-button:disabled {
  background-color: var(--color-4);
  cursor: not-allowed;
}

.flex-container {
  --flex-items: 1;
  --flex-items-gap: 1.5625em;
  gap: var(--flex-items-gap);
  flex-wrap: wrap;
  display: flex;
}

.flex-container li {
  flex-basis: calc((100% - (var(--flex-items)  - 1) * var(--flex-items-gap)) / var(--flex-items));
}

::-webkit-scrollbar {
  width: .3125em;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: var(--color-2);
  border-radius: var(--g-b-r);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

header .container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

header nav {
  margin: 0 auto;
}

header nav ul {
  gap: .625em;
  display: flex;
}

.modal {
  z-index: 100;
  width: 100%;
  height: 100%;
  transition: opacity var(--g-t);
  opacity: 0;
  pointer-events: none;
  background-color: #00000080;
  justify-content: center;
  align-items: center;
  padding: 1.25em;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal hr {
  background-color: currentColor;
  margin: .625em 0;
}

.modal .container {
  border-radius: var(--g-b-r);
  background-color: var(--color-1);
  position: relative;
  box-shadow: 0 2px 4px #0000001a;
}

.modal .container .title {
  align-items: center;
  gap: .625em;
  font-size: 1.5em;
  display: flex;
}

.modal .container .extra-info {
  margin-left: auto;
}

.modal .container .info {
  gap: .625em;
  margin-bottom: .625em;
  font-size: 1.1em;
}

.modal .container .word:first-letter {
  text-transform: uppercase;
  width: 100%;
}

.modal .container .close-button {
  width: 3.125em;
  height: 3.125em;
  font-size: 1.4em;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(100%, -100%);
}

.modal .container .ai-generated-text {
  margin-top: 1.25em;
  font-size: 1.1em;
}

.modal .container .buttons {
  gap: .625em;
  margin-top: 6.25em;
  display: flex;
}

.noun {
  color: #d21b1b;
}

.verb {
  color: #e15200;
}

.adjective {
  color: #e0cd00;
}

.adverb {
  color: #00d115;
}

.verb_phrase {
  color: #394cfc;
}

.phrasal_verb {
  color: #87ffd9;
}

.noun_phrase {
  color: #b11dd6;
}

.adjective_phrase {
  color: #d07ce6;
}

.phrase {
  color: #b80075;
}

.phrasal {
  color: #3646dd;
}

.proverb {
  color: #51bb00;
}

.conjunction {
  color: #b800b8;
}

.adverbial_phrase {
  color: #d5a8d5;
}

.preposition {
  color: #00b2bb;
}

.favorite {
  color: #e17979;
}

.interjection {
  color: #51bb00;
}

.dictionary-list {
  border-radius: var(--g-b-r);
  flex-direction: column;
  gap: 5px;
  max-height: 600px;
  display: flex;
  overflow-y: auto;
}

.word-button {
  -webkit-user-select: none;
  user-select: none;
  text-align: left;
  display: flex;
}

.word-button .index {
  margin-right: 15px;
}

.word-button .expression {
  -webkit-user-select: all;
  user-select: all;
  color: var(--color-2);
}

.word-button .expression:first-letter {
  text-transform: capitalize;
  font-weight: 600;
}

.word-button .type {
  margin-left: auto;
  display: none;
}

@media screen and (width >= 100px) {
  .word-button .type {
    display: block;
  }
}

.word-button .id {
  margin-left: auto;
  margin-right: 0;
}

.filter-list {
  --flex-items: 1;
  --flex-items-gap: 5px;
  flex-direction: row;
}

@media screen and (width >= 300px) {
  .filter-list {
    --flex-items: 2;
  }
}

@media screen and (width >= 450px) {
  .filter-list {
    --flex-items: 3;
  }
}

.filter-list li {
  text-transform: capitalize;
}

.filter-list input {
  visibility: hidden;
  width: 0;
  height: 0;
  position: absolute;
}

.filter-list label {
  cursor: pointer;
  background-color: var(--color-3);
  border-radius: var(--g-b-r);
  text-align: center;
  width: 100%;
  height: 100%;
  transition: color var(--g-t);
  justify-content: center;
  align-items: center;
  padding: .625em;
  display: flex;
}

.filter-list input:not(:checked) ~ label {
  color: var(--color-7);
}

.dictionary-filters {
  position: relative;
}

.filter-list-des-box {
  overflow: hidden;
}

.filter-list-des-box > div {
  transition: margin-top var(--g-t);
}

.filter-list-des-box.hidden > div {
  margin-top: -100%;
}

.filter-open-close-button {
  text-align: left;
  align-items: center;
  gap: .625em;
  display: flex;
}

.filter-open-close-button > svg {
  transition: transform var(--g-t);
}

.filter-open-close-button.active > svg {
  transform: rotate(180deg);
}

.train-writing-text-textarea {
  border-radius: var(--g-b-r);
  resize: none;
  background-color: var(--color-1);
  width: 100%;
  height: 18.75em;
  color: var(--color-2);
  border: 1px solid var(--color-5);
  outline: none;
  padding: .5em 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

.train-word-input:focus {
  outline: none;
}

.train-grammar-test-generate-button {
  margin-top: .625em;
}

.topic-title {
  font-size: 1.25em;
  font-weight: 600;
}

.test-list > li > p {
  font-size: 1em;
  font-weight: 600;
}

.test-list > li > ul {
  margin-left: 3.15em;
  list-style-type: decimal;
}

.lang-switcher-list {
  gap: .625em;
  display: flex;
}

.lang-switcher {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 2.3125em;
  height: 2.3125em;
  display: flex;
}

.lang-radio-switcher {
  visibility: hidden;
  width: 0;
  height: 0;
  position: absolute;
}

.lang-radio-switcher:checked ~ .lang-switcher {
  background-color: var(--color-6);
}

.link-button {
  cursor: pointer;
  padding: .625em;
}

.link-button.active {
  background-color: var(--color-6);
  border-radius: var(--g-b-r);
}

.page-radio-button {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.page-radio-button + .page {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0);
}

.page-radio-button:checked + .page {
  opacity: 1;
  pointer-events: all;
  transition: opacity .5s;
  position: static;
  transform: scale(1);
}
/*# sourceMappingURL=language-app.da533f7e.css.map */
