.dictionary-list {
  border-radius: var(--g-b-r);
  height: 600px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.dictionary-word-button {
  user-select: none;
  text-align: left;
  display: flex;

  .index {
    margin-right: 15px;
  }

  .expression {
    user-select: all;
    color: var(--color-2);

    &::first-letter {
      text-transform: capitalize;
      font-weight: 600;
    }
  }

  .type {
    margin-left: auto;
    display: none;

    @media screen and (min-width: 300px) {
      & {
        display: block;
      }
    }
  }
}
