@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap");

body {
  font-family: "Fira Sans", sans-serif;
  font-size: 10px;
  line-height: 1;
  background-color: var(--color-1);
  color: var(--color-2);
}


@media screen and (min-width: 500px) {
  body {
    font-size: 14px;
  }
}

@media screen and (min-width: 1000px) {
  body {
    font-size: 16px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 0.3125em;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-2);
  border-radius: var(--g-b-r);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


section h2.title {
  position: relative;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.625em;
  margin-top: 3.125em;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.125em;
    background-color: rgba(255, 255, 255, 0.3);
    bottom: -0.3125em;
    left: 0;
  }

  &.no-top {
    margin-top: 0;
  }
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 62.5em;
  padding: 1.25em;
  display: flex;
  flex-direction: column;
  gap: 1.25em;
}

.sub-container {
  display: flex;
  flex-direction: column;
  gap: 1.25em;
}

.app-input {
  background-color: var(--color-8);
  border-radius: var(--g-b-r);
  padding: 1em;
  width: 100%;
  border: none;
  font-size: 1.2em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #acb1bb;

  &::placeholder {
    color: #acb1bb;
  }
}

.app-list {
  display: flex;
  gap: 0.625em;
  flex-direction: column;

  &.decimal {
    list-style-type: decimal;
    margin-left: 1.125em;
  }
}

.app-button {
  display: block;
  padding: 0.9em;
  background-color: var(--color-3);
  border-radius: var(--g-b-r);
  transition: background-color var(--g-t);
  color: var(--color-5);
  cursor: pointer;

  &.full-width {
    width: 100%;
  }

  &.red {
    color: white;
    background-color: var(--error);
  }
  &.green {
    color: white;
    background-color: var(--good);
  }

  &:hover,
  &:disabled {
    background-color: var(--color-4);
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.flex-container {
  --flex-items: 1;
  --flex-items-gap: 1.5625em;

  display: flex;
  gap: var(--flex-items-gap);
  flex-wrap: wrap;

  > * {
    flex-basis: calc(
      (100% - (var(--flex-items) - 1) * var(--flex-items-gap)) /
        var(--flex-items)
    );
  }
}
