header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header nav{
    margin: 0 auto;
}

header nav ul{
    display: flex;
    gap: 10px;
}