@import url("./reset-normalize.css");
@import url("./variables.css");
@import url("./global.css");
@import url("./scroll.css");
@import url("./modal.css");
@import url("./mod-colors.css");
@import url("./dictionary.css");
@import url("./filter.css");


.train-writing-text-textarea{
  border-radius: var(--g-b-r);
  padding: 8px 16px;
  width: 100%;
  font-size: 16px;
  outline: none;
  resize: none;
  height: 300px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-1);
  color: var(--color-2);
  border: 1px solid var(--color-5);
}


.train-word-input:focus{
  outline: none;
}

.train-grammar-test-generate-button{
  margin-top: 10px;
}

.topic-title{
  font-size: 20px;
  font-weight: 600;
}

.test-list > li > p{
  font-size: 16px;
  font-weight: 600;
}

.test-list > li > ul{
  margin-left: 50px;
  list-style-type: decimal;
}

.lang-switcher-list{
  display: flex;
}

.lang-switcher-list li{
  flex-basis: 100%;
}

.lang-switcher{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lang-radio-switcher{
  visibility: hidden;
  width: 0;
  height: 0;
  position: absolute;
}

.lang-radio-switcher:checked ~ .lang-switcher{
  background-color: var(--color-6);
}

