.noun {
  color: rgb(210, 27, 27);
}

.verb {
  color: rgb(225, 82, 0);
}

.adjective {
  color: #e0cd00;
}

.adverb {
  color: #00d115;
}

.verb_phrase {
  color: #394cfc;
}

.phrasal_verb {
  color: #87ffd9;
}
.noun_phrase {
  color: #b11dd6;

}
.adjective_phrase {
  color: #d07ce6;
}

.phrase {
  color: #b80075;
}

.phrasal {
  color: #3646dd;
}

.proverb{
  color: #51bb00;
}

.conjunction {
  color: #b800b8;
}

.adverbial_phrase {
  color: #d5a8d5;
}

.preposition{
  color: #00b2bb;
}

.favorite{
  color: #e17979;
}

.interjection{
  color: #51bb00;
}