<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Language App</title>
    <link rel="stylesheet" href="./styles/index.scss" />
  </head>

  <body>
    <%- include('./includes/header.ejs') %>

    <main>
      <%- include('./includes/pages/index.ejs') %>
    </main>

    <%- include('./includes/modals/index.ejs') %>

    <script src="https://js.puter.com/v2/"></script>
    <script src="./scripts/index.js" type="module"></script>
  </body>
</html>
