.filter-list {
  --flex-items: 1;
  --flex-items-gap: 5px;
  flex-direction: row;
}

@media screen and (min-width: 300px) {
  .filter-list {
    --flex-items: 2;
  }
}

@media screen and (min-width: 450px) {
  .filter-list {
    --flex-items: 3;
  }
}

.filter-list li{
  text-transform: capitalize;
}

.filter-list input {
  visibility: hidden;
  width: 0;
  height: 0;
  position: absolute;
}
.filter-list label {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--color-3);
  width: 100%;
  height: 100%;
  padding: 0.625em;
  border-radius: var(--g-b-r);
  text-align: center;
  transition: color var(--g-t);
}

.filter-list input:not(:checked) ~ label {
  color: var(--color-7);
}

/* A BOX FOR HIDING FILTERS */

.dictionary-filters{
  position: relative;
}

.filter-list-des-box{
  overflow: hidden;
}

.filter-list-des-box > div{
  transition: margin-top var(--g-t);
}

.filter-list-des-box.hidden > div{
  margin-top: -100%;
}

/* /A BOX FOR HIDING FILTERS */

.filter-open-close-button{
  display: flex;
  align-items: center;
  text-align: left;
  gap: 0.625em;
}

.filter-open-close-button > svg{
  transition: transform var(--g-t);
}

.filter-open-close-button.active > svg{
  transform: rotate(180deg);
}