/* width */
::-webkit-scrollbar {
  width: 0.3125em;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-2);
  border-radius: var(--g-b-r);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
