html{
    --color-1: #171822;
    --color-2: #FAFBFB;
    --color-3: #1C1D29;
    --color-4: #101118;
    --color-5: #c0c2d2;
    --color-6: #1c204d;
    --color-7: #464646;
    --error: rgb(202, 25, 25);
    --good: rgb(25, 179, 64);
    
    --g-b-r: 5px;

    --g-t: 0.3s ease;
}